<nav class="custom-navbar">
    <a class="navbar-brand" href="#">Universidad de los Andes</a>
    <ul>
        <li><a href="/dashboard">Inicio</a></li>
        <li><a href="/alumnos">Alumnos</a></li>
        <li><a href="/calificaciones">Calificaciones</a></li>
        <li><a href="/logout" >Cerrar Sesión</a></li>
    </ul>
</nav>

<div class="main-container">
    <!-- Contenido aquí -->
</div>

<footer>
    &copy; 2025 Universidad. Todos los derechos reservados. <a href="#">Política de Privacidad</a>
</footer>
